.perspective{
    perspective: 3px;
    overflow: hidden;
    background-color: black;
}
.transform{
    transform: translate3d(0px, -150px, -3px) rotate3d(1, 0, 0, 0.8deg);
    background-color: black;
    height: 100vh;
    width: 50%;
    margin: 0 auto;
}
.text{
    color: gold;
    text-align: center;
    /*transform: translate(0px, 800px);*/
    animation-name: text;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

@keyframes text {
    from{
        transform: translate(0px, 800px);
    }
    to{
        transform: translate(0px, 0px);
    }
}
