.table{
    width: 1192px;
    height: 736px;
    border-collapse:collapse ;
    font-family: 'Arimo', sans-serif;
    border: 20px solid #3A4965;
    text-align: center;
}

.header-text{
    /*border: 1px solid #E3E3E3;*/
    width: 313px;
    font-size: 24px;
    background-color: #FAFAFA;
}

.details{
    border: 1px solid #d9d7d7;
    font-size: 18px;
    vertical-align: middle;

}


.price{
    font-size: 60px;
}

.pennies{
    font-size: 24px;
}

.hours{
    margin-left: -40px; /*я помню, что отрицательный марджины советовали не использовать, но я не понимаю как еще это сделать*/

}

.fas {
    margin-right: 10px;
    color: #848484;
    font-size: 25px;
    vertical-align: middle;
}

.header:nth-child(2){
    background-color: #FAFAFA;
}
.table-lines{
    width: 280px;
    height: 89px;
}
.choose-your{
    font-size: 18px;

}

.tbody .table-lines:nth-child(odd){
    background-color: #F2F2F2;
}
.tbody .table-lines:nth-child(even){
    background-color: #E3E3E3;
}
.pricing-plan{
    font-size: 30px;
}

.standard{
    background-color: #89C331;
    color: white;
}
.ultimate{
    background-color: #F04A56;
    color: white;

}
.premium{
    background-color: #20807C;
    color: white;

}

.buttons{
    width: 195px;
    height: 54px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}
.button-text{
    margin-top: 20px;
}

.contact-us{
    background-color: #484848;
    border-bottom: 10px solid #404040;
    transition: 0.5s ease all;

}
.contact-us:hover{
    background-color: #404040;
    transition: 0.5s ease all;

}

.buy-standard{
    background: #89C331;
    border-bottom: 10px solid #79B027;
    transition: 0.5s ease all;


}
.buy-standard:hover{
    background-color: #79B027;
    transition: 0.5s ease all;

}

.buy-ultimate{
    background: #F04A56;
    border-bottom: 10px solid #DF3A46;
    transition: 0.5s ease all;


}
.buy-ultimate:hover{
    background-color: #DF3A46;
    transition: 0.5s ease all;

}
.buy-premium{
    background: #20807C;
    border-bottom: 10px solid #16736F;
    transition: 0.5s ease all;


}

.buy-premium:hover{
    background-color: #16736F;
    transition: 0.5s ease all;
}