body{
    width: 1280px; /* Ширина слоя */
    height: 1626px;
    position: relative;

    margin-left: auto;
    margin-right: auto;

}



.menu{
    /*position: absolute;*/
    width: 620px;
    height: 15px;
    left: 330px;
    top: 32px;

}

a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 400px;

    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    color: blue;

    text-decoration: none;

}
.download{
    position: absolute;
    width: 140px;
    height: 400px;
    left: 460px;
    top: -191px;
}

.design{
    position: absolute;
    width: 87px;
    height: 400px;
    left: 315px;
    top: -191px;

}

.photo{
    position: absolute;
    width: 131px;
    height: 400px;
    left: 126px;
    top: -191px;

}

.home{
    position: absolute;
    width: 68px;
    height: 400px;
    left: 0px;
    top: -191px;
}

img {
    margin-top: 78px;
    width: 1280px;
    height: 791.86px;
}

h1{

    font-family: Montserrat;
    color: #000;
    width: 774px;
    height: 29px;
    text-align: center;
    margin: 47px 253px;
    letter-spacing: 1.8px;
}

p{
    font-family: Montserrat;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.content{
    width: 1145px;
    height: 434px;
    display: block;


}
.p{
    margin-top: 98px;
    margin-left: 72px;
}

.buttondiv{
  margin-left:542px;
    margin-top: 50px;
}
button{
    width: 195px;
    height: 54px;
    background-color: blue;
    color: white;
    font-family: Montserrat;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 5px;
}

footer{
    position: absolute;
    width: 509px;
    height: 29px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    margin-left: 950px;
    margin-top: 170px;
    letter-spacing: 2.4px;


}
