.logo{
    color: deepskyblue;
}

.ramda{
    font-size: 80px;
    font-family: Roboto, SansSerif;
    display: block;
    margin-top: 61px;
    display: flex;
    margin-left: 98px;

}

header{
    display: block;
    text-align: center;
}

body{
    width: 1480px;
    height: 1382px;
    /*border: 2px solid black;*/
    display: block;
    margin: 0 auto;

}









.top{
    text-decoration: none;
    margin-left: 76px;
    display: inline-block;
    font-family: Roboto, SansSerif;
    color: white;
    padding-top: 21.5px;
}


.topmenu :hover{
    background-color: #222F3A;
    height: 50.5px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding-right: 15px;
    padding-left: 15px;

}



.topmenu{
    width: 1283px;
    height: 72px;
    display: inline-block;
    text-align: center;
    margin-top: 39px;
    background-color: #35444F;
}


.leftmenu {
    border: 1px solid black;
    width: 344px;
    height: 399px;
    margin-left: 98px;
    margin-top: 50px;
    display: inline-block;
    /*position: absolute;*/
}

.link2{
    text-decoration: none;
    height: 88.8px;
    font-family: Roboto, SansSerif;
    font-size: 27px;
    line-height: 73px;
    color: #495863;
    padding-left: 38px;
}

.menu2 :hover{
    background-color: #DBDBDB;

}

.menu2{
    list-style-type: none;
    display: inline;
}

.photo{
    display: inline-block;
    border: 1px solid black;
    width: 885px;
    height: 529px;
    margin-left: 496px;
    margin-top: 50px;
    text-align: center;
    vertical-align: center;
    position: relative;





}
.kozel{
    /*display: block;*/
    position: absolute;
    margin: auto;
    left: 0; /*почему так */
    top: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 381px;
    transition: all 0.5s ease-out;


}

.photo :hover{
    transform: scale(1.05);
    transition: all 0.5s ease-out;

}

.first{
    font-family: Roboto, SansSerif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.text{
    margin-left: 496px;
    margin-right: 99px;
    margin-top: 42px;
}

.down{
    font-family: Roboto, SansSerif;
    font-size: 28px;
    text-decoration: none;
    color: #0C1927;
    margin-left: 23px;
    display: inline-block;
    margin-top: 19px;
    transition: all 0.5s ease-in-out;

}


.copyright{
    font-family: Roboto, SansSerif;
    font-size: 28px;
    color: #0C1927;
    margin-left: 100px;
    display: inline-block;
    margin-top: 19px;
}
.downmenu{
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    margin-left: 100px;


}
.wtf{
    display: inline;

}
.wtf :hover{
    color: lightblue;
    transition: all 0.5s ease-in-out;
}