.enter-page {
    background-image: url("../img/Фон 1.png");
    background-size: 100%;
    height: 100vh; /*   не понимаю почему, но без заданой высоты картика не отображется */
}

.menu-top {
    width: 100vw;
    height: 59px;
    background-color: rgba(0%, 0%, 0%, 0.4);
    /*background-color: rgba(100%, 40%, 150%, 0.3);*/
    transition: 0.5s ease all;
}


.logo {
    text-decoration: none;

}

.our-name {
    display: inline-block;
    margin-top: 20px;

}

.name {
    color: black;
    font-size: 20px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 81px;
    transition: 0.5s ease all;
}

.name:hover{
    color: #3CB878;
}

.navbar {
    margin-left: 62%;
    position: absolute;
    display: inline-block;
    margin-top: 20px;
}

.calendar {
    width: 20px;
    height: 20px;
    background: url('../img/css_sprites.png') -106px -10px;
    position: absolute;

}
.calendar::after{
    content:"";
    background: url("../img/css_sprites.png") -90px -86px;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.calendar:hover::after{
    opacity: 1;
    transition: opacity 0.5s;
}
.forum {
    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -10px;
    position: absolute;
    margin-left: 48px;

}
.forum::after{
    content:"";
    background: url("../img/css_sprites.png")-58px -10px;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.forum:hover::after{
    opacity: 1;
    transition: opacity 0.5s;
}
.journey {
    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -86px;
    position: absolute;
    margin-left: 100px;

}
.journey::after{
    content:"";
    background: url("../img/css_sprites.png")-50px -86px;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.journey:hover::after{
    opacity: 1;
    transition: opacity 0.5s;
}

.journey-icon:after{
    content: "";
    background: rgba(255, 255, 255, 0.5);
    width: 1px;
    height: 19px;
    position: absolute;
    border-left: 1px solid black;
    margin-left: 160px;
    transition: 1s ease all;

}
.header-text{
    display: inline-block;
    margin-left: 73%;
    font-family: Ubuntu;
    font-size: 14px;
    color: white;
    position: absolute;
    margin-top: 20px;
  line-height: 21px;
}
.welcome{
    vertical-align: middle;
}
.signup{
    text-decoration: none;
    color: white;
    transition: 0.5s ease all;
}
.signup:hover{
    color: #3CB878;
}
.login{
    text-decoration: none;
    color: white;
    transition: 0.6s ease all;
}
.login:hover{
    color: #3CB878;
}


.way-to-login{
   width: 444px;
   height: 584px;
    background-color: white;
    margin: 0 auto;
    margin-top: 8%;
    display: block;
    transition: 0.5s ease all;

}

.sign-log{
    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;


}
.signup-form{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 21px;


}
.green-box{
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    display: inline-block;
}
.login-form{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 214px;
    color: #3CB878;
    font-size: 14px;
}
.signup-with{
    margin-top: 18px;
    margin-left: 61px;
}
.social{
    width: 160px;
    height: 48px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}
.facebook-button{
    background-color: #305DB8;
}
.facebook-logo{
    background:url("../img/css_sprites.png")-146px -10px;
    position: absolute;
    width: 20px;
    height: 20px;
}
.facebook-logo:after{
    width: 1px;
    height: 20px;
    background-color: black;
    content: "";
    position: absolute;
    margin-left: 15px;
    opacity: 10%;
}
.google-button{
    background: #DF4A32;
}
.google-logo{
    background: url("../img/css_sprites.png")-10px -50px;
    width: 25px;
    height: 16px;
    position: absolute;
}
.google-logo:after{
    width: 1px;
    height: 20px;
    background-color: black;
    content: "";
    position: absolute;
    margin-left: 23px;
    opacity: 10%;
}
.or{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #848484;
    margin-top: 21px;
    text-align: center;
}
.form{
    width: 310px;
    height: 48px;
    margin: 9px auto 0;
    display: block;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    padding-left: 18px;
    color: #BEBEBE;


}
.form:focus{
    color: black;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    /*padding-bottom: 7px;*/
    outline: none;

}

.form:active{
    border: none;
}

.first-name{
    margin-top: 16px;
}



.terms{
    color: #3CB878;
    text-decoration: none;

}

/*checkbox------------------------------------------*/




.checkbox{


}
.checkbox-label{
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #434343;
    padding-left: 85px;
    display: inline-block;
    margin-top: 18px;
}

.checkbox-input{
    position: absolute;
    /*z-index: -1;*/
    opacity: 0;
    /*margin: 10px 0 0 20px;*/
}
.checkbox-input + .checkbox-label:before{
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid slateblue;
    position: absolute;
    display:block;
    margin-left: -28px;

}

.checkbox-input + .checkbox-label:after{
    content: '';
    border-right: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    width: 10px;
    height: 16px;
    position: absolute;
    margin-left: -212px;
    margin-top: -1px;
    position: absolute;
    transform: rotate(45deg);
    /*display: block;*/
    opacity: 0;
    transition: 0.3s ease all;
    /*left: 2px;*/
}
.checkbox-input:checked + .checkbox-label:after{
    opacity: 1;
}
/*buttons=========================================================*/
#create-account-btn{
    width: 330px;
    height: 46px;
    background-color: #3CB878;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    display: block;
    margin: 20px auto 0;
    transition: 1s ease all;

}
#create-account-btn:hover{
    cursor: pointer;
    background-color: white;
    border:1px solid #3CB878;
    color: #3CB878;
}


#color-theme{
    margin-left: 95%;
    height: 40px;
    background-color: #3CB878;
    border: none;
}


