.the-ham{
    background-image: url("../img/bg-first page.png");
    }

.navigation-top{
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 58px;
    height: 67px;
    clip-path: polygon(50% 0, 100% 25%, 100% 70%, 50% 100%, 0 70%, 0 25%);
    background-color: #18CFAB;
    display: inline-block;
}
.logo-letter{
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-top: 11px;

}
.logo-name{
    font-size: 32px;
    font-family: Montserrat, sans-serif;
    display: inline-block;
    color: #000;
}
.ham{
    color: #18CFAB;
    font-weight: bold;
}

.links{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Montserrat', sans-serif;
    margin-left: 21px;
    font-weight: bold;
    transition: 0.5s ease all;
    font-size: 16px;
}
/*.links:before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 0%;*/
/*    margin-top: 66px;*/
/*    height: 2px;*/
/*    background-color: #18CFAB;*/
/*}*/
/*.links:hover:before,*/
/*.links:focus:before {*/
/*    display: inherit;*/
/*    position: inherit;*/
/*    width: 100%;*/
/*}*/
.links:hover{
    color: #18CFAB;
}


.ourFeatures{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 264px;
    line-height: 80px;
}

.we-are-creative{
    font-size: 78px;
}

.tagline{
    color: #D4D4D4;
}

.buttons-now{
    margin-top: 100px;
}
.button-now{
    cursor: pointer;
    width: 168px;
    height: 63px;
    border: none;
    box-shadow:   0 -2px 0  white;
    border-radius: 2px;
    margin-bottom: 200px;

}

.explore{
    background-color: #18CFAB;
}
.purchase{
    background-color: #00CBF6;
    margin-left: 20px;
}
.benefits{
    display: flex;
    margin-top: 8px;
}

.benefit{
    /*background-color: #18CFAB;*/
    /*height: 400px;*/
    width: 25%;
    /*display: inline-block;*/
    text-align: center;
    padding-top: 100px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 100px;

}
.benefit-icons{
    height: 90px;
}
.benefit:nth-child(even){
    background-color: #18CFAB;
    color: white;
}
.benefit:nth-child(odd){
    background-color: #1C2A33;
    color: #18CFAB;
}
.description-benefit{
    margin-top: 40px;
}

.our-service{
    font-family: Montserrat, SansSerif;

}
.our-service-title{
    font-size: 36px;
    margin-top: 83px;
    text-align: center;
}
.our-service:before{
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background-color: #18CFAB;
    margin-top: 60px;
    box-shadow: -10px -10px 0 0 #18CFAB;
    margin-left: 49%;
}

.our-service-navigation{
    text-align: center;
    margin-top: 70px;
}

.ul{

    display: inline-block;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    padding: 30px;
    margin-left: -4px;
    font-size: 16px;
}
.ul:hover{
    border: 1.5px solid #18CFAB;

}

.our-service-links{
    text-decoration: none;
}


.active{
    background-color: #18CFAB;
}
.active:before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #18CFAB;
    position: absolute;
    margin-left: -10px;
    margin-top: 35px;
    transform: rotate(45deg);

}

.our-service-content{
    margin-top: 50px;

}

.content{
    display: flex;
    margin: 0 22% 0 23%;
    /*justify-content: space-around;*/
}
.text-content{
    margin-left: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.invisible{
    display: none;
}


.purchase-now-section{
    background-image: url("../img/purchase now bg.png");
    text-align: center;
    padding-bottom: 110px;
    margin-top: 90px;

}
.install-now{
    font-family: Montserrat, SansSerif;
    font-size: 40px;
    color: #18CFAB;
    font-weight: bold;
    padding-top: 127px;
    text-transform: uppercase;
}

.install-now-description{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-top: 20px;
}

.purchase-now{
    color: white;
    background-color: #18CFAB;
    padding: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    margin-top: 80px;
    box-shadow:   0 -4px 0  white;
    cursor: pointer;
}

.amazing-work{
    font-family: Montserrat, SansSerif;
    text-align: center;
    padding-top: 96px;
    background: #E9EDEF;
}

.amazing-work-title{
    font-size: 36px;
}

.amazing-work-title:before{
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background-color: #18CFAB;
    margin-top: 80px;
    box-shadow: -10px -10px 0 0 #18CFAB;
    margin-left: 7%;

}
.work-examples{
    display: flex;
    justify-content: center;
}

.example-list{
    padding: 20px;
    border: 1px solid #DADADA;
    margin-top: 100px;
}
.example-list:hover{
    border: 2px solid #18CFAB;
}

.work-examples-links{
    text-decoration: none;
    color: #717171;

}

.example-list:hover .work-examples-links{
    color: #18CFAB;
}

.photo-examples{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 285px 285px 285px 285px;
    grid-template-rows: 206px 206px 206px  ;
    justify-content: center;
    overflow: hidden;
}


.description-to-photos{
    width: 285px;
    height: 211px;
    display: none;
    overflow: hidden;
    padding-top: 40px;
}
.works-photo{
    overflow: hidden;
}
.works-photo:hover .description-to-photos{
    display: inline-block;
    border-top: 6px solid #18CFAB;
}
.false{
    display: none;
}
.load-more{
    padding: 15px;
    background-color: #18CFAB;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    color: white;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 100px;

}
.button-text{
    margin-left: 10px;
    vertical-align:20%;
}

.chain{
    border: 1px solid #18CFAB;
    border-radius: 50%;
    padding: 10px;
    outline: none;
    cursor: pointer;
}
.circle-chain{
    display: flex;
}

.pause{
    padding: 10px;
    border: none;
    background-color: #18CFAB;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
}

.circle-pause{
    width: 15px;
    height: 15px;
    background-color: white;
}

.description-by-hover{
    font-weight: bold;
    font-size: 14px;
    color: #18CFAB;
    margin-top: 30px;
}

.subtitle{
    font-size: 12px;
    color: #8A8A8A;
    margin-top: 15px;
}

.breaking-news{
    text-align: center;
    font-family: Montserrat, sans-serif;
    margin-top: 85px;
}

.news-title{
    font-size: 36px;
}

.news-title:before{
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background-color: #18CFAB;
    margin-top: 80px;
    box-shadow: -10px -10px 0 0 #18CFAB;
    margin-left: 5%;

}

.breaking-news-cards{
    display: grid;
    margin-top: 100px;
    grid-template-columns:263px 263px 263px 263px;
    grid-template-rows: 280px 280px;
    justify-content: center;
    grid-column-gap: 35px;
    grid-row-gap: 45px;

}

.amazing-blog-post{
    color: #717171;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 50px;
}

.works-description{
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    color: #777777;
    border-right: 1px solid #777777;
    padding-right: 5px;
    text-decoration: none;

}

.comments-count{
    display: inline-block;
    margin-right: 45px;
    font-size: 14px;
    color: #777777;
    padding-left: 5px;
    text-decoration: none;

}


.green-square{
    width: 70px;
    height: 70px;
    background-color: #203E38;
    position: absolute;
    margin-left: 193px;
}

.date{
    color: white;
    margin-top: 10px;
    line-height: 25px;
}

.news-card:hover .green-square{
    background-color: #18CFAB;
}
.news-card:hover .amazing-blog-post{
    color: #18CFAB;
}

.review{
    background-image: url("../img/review bg.png");
    font-family: Montserrat, sans-serif;
    padding-top: 100px;
    text-align: center;
    margin-top: 130px;
}

.review-title{
    color: white;
    font-size: 36px;
}
.review-title:before{
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background-color: #18CFAB;
    margin-top: 80px;
    box-shadow: -10px -10px 0 0 #18CFAB;
    margin-left: 12%;

}
.quotes{
    margin-top: 100px;
}
.person-review{
    margin-top: 35px;
    padding: 0 380px 160px 380px;

}
.review-text{
    color: #BBBBBB;
    font-size: 16px;
    line-height: 30px;
}
.name{
    color: #18CFAB;
    font-weight: bold;
    margin-top: 37px;
    font-size: 20px;
}

.profession{
    color: #BBBBBB;
    margin-top: 15px;
    font-size: 15px;
}

.people-photo{
    margin-top: 50px;
}


.footer{
    padding: 50px 0 50px 0;
    background-color: #22353F;
    text-align: center;
    color:#AEAEAE;
    font-family: Montserrat, sans-serif;
}


.photo-circle-border{
    border: 10px solid rgba(31, 218, 181, 0.2);;
    border-radius: 50%;

}

.theHam{
    color: #18CFAB;
    margin-right: 10px;
}
.theHam:after{
    content: "";
    width: 1px;
    height: 15px;
    background-color: #777777;
    position: absolute;
    margin-left: 5px;
}





























