.menu {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    align-items: center;
}


.name {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    color: white;
    margin-left: 10px;

}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navbar-text {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-left: 20px;
    transition: 0.15s ease-in all;
}

.navbar-text:hover {
    text-shadow: 1px 1px 2px white;
}

.search {
    background-color: black;
}

.fa-search {
    color: white;
    padding: 30px;
}

.search .fa-search:hover {
    text-shadow: 0 0 5px white;
}

.news {
    background-image: url("../img/header bg full.jpeg");
    background-attachment: fixed;
    background-position: bottom;
}

.latest-news {
    display: flex;
    justify-content: center;

}

.the-latest-news {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    margin-top: 127px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    width: 170px;
    height: 55px;
    margin-left: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    margin-bottom: 130px;
}

.button:hover {
    cursor: pointer;
}

.subscribe {
    background-color: #89CA62;
    transition: 1s ease all;
}

.subscribe:hover {
    border: 1px solid #89CA62;
    background-color: transparent;
}

.articles {
    background-color: #14B9D5;
    transition: 1s ease all;

}

.articles:hover {
    border: 1px solid #14B9D5;
    background-color: transparent;
}


.popular-post {
    background-color: #F2F2F2;

    /*width: 1900px;*/
    /*height: 1030px;*/
}

.post-text {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
}

.popular {
    color: #18B4CF;
}

.post-photos {
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
}


.column {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.canada {
    width: 370px;
    height: 320px;
    background-color: white;
}

.royal-blossom {
    width: 370px;
    height: 320px;
    background-color: white;
    margin-top: 30px;
}

.hotel-usa {
    width: 370px;
    height: 441px;
    background-color: white;
}

.hotel-spain {
    width: 370px;
    height: 309px;
    background-color: white;
    margin-top: 30px;
}

.spa-usa {
    width: 370px;
    height: 355px;
    background-color: white;
}

.hotel-france {
    width: 370px;
    height: 441px;
    background-color: white;
    margin-top: 30px;
}


.popular-clients {
    background-image: url("../img/clents bckg full.jpeg");
    width: 1900px;
    height: 598px;
    display: grid;
    grid-template-rows: 50px 60px;
    grid-template-columns: repeat(4, 232px);
    /*grid-gap:34px;*/
    grid-row-gap: 150px;
    grid-column-gap: 35px;
    justify-content: center;
    align-content: center;
    background-attachment: fixed;
    /*background-repeat: no-repeat;*/

}

.clients {
    text-align: center;
}

.clients-title {
    text-transform: uppercase;
    color: white;
    font-family: 'Open Sans', sans-serif;
    grid-column-end: 5;
    grid-column-start: 1;
    text-align: center;
    color: white;
    font-size: 25px;
}

.clients-title:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    left: 910px;
    margin-top: 25px;
}

.national-post {
    margin-top: 13px;
}


.photo-line {
    display: grid;
    grid-template-rows: 190px;
    grid-template-columns: repeat(7, 270px);
}

.top-rated, .hot-news-title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #18B4CF;
    text-transform: uppercase;
    font-size: 27px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hot-news-posts {
    display: grid;
    grid-template-columns: 277px 237px 237px 277px;
    grid-template-rows: 259px repeat(2, 209px) 259px 209px 259px;
    /*grid-gap: 20px;*/
    justify-content: center;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.post {
    background-color: #F9F7F7;
    /*margin-top: 40px;*/
    font-family: Open Sans;
    font-size: 14px;
    line-height: 21px;
}


.spa-emirate {
    grid-column: 1/4;
}
.spa-emirate-photo{

}
/*.hotel-spain-post{*/
/*    margin-left: 35px;*/
/*}*/

.resort-egypt {
    /*margin-top: 20px;*/
    grid-column: 1/3;
    grid-row: 2/4;
}

.resort-maldives {
    grid-column: 3/5;
    grid-row: 2/4;
}

.resort-tenerife {
    grid-column: 1/3;
    grid-row: 4/6;
}

.hotel-great-britain {
    grid-column: 3/5;
    grid-row: 4/6;
}


.resort-spain {
    grid-column: 2/5;
}

.description-posts {
    /*font-family: Open Sans;*/
    /*font-size: 14px;*/
    /*line-height: 21px;*/
    text-align: right;

}

.description-post-titles {
    font-family: Open Sans;
    font-size: 18px;
    text-align: right;
    font-weight: bold;


}

.description-post-titles-center{
    text-align: center;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

.copyright {
    color: #F2F2F2;
    font-size: 13px;

}

.lioit {
    color: #F2F2F2;
}

.lioit-photo {
    display: inline-block;
    vertical-align: middle;
}

.lioit-text {
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
}
.text{
    width: 300px;
    float: right;
    text-align: right;
    margin-right: 30px;
}
