.allSection{
    width: 300px;
    height: 100px;
    background-color: gold;
}
#inputForPrice{
    outline: none;
    border: solid #d6d6d6 2px;
    border-radius: 3px;
    display:block;
    margin: 0 auto;
}

#createPrice{
    /*display: block;*/
    /*visibility: hidden;*/
    display: none;
    background-color: green;
    width: 165px;
    border: solid darkgreen 2px;
    border-radius: 3px;
    margin: 0 auto;
}

#spanPrice{
    font-family: SansSerif;
}

#buttonToDeletePrice{
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
}
.wrongPrice{
    text-align: center;
    font-family: SansSerif;
}