
.all-tours {
    background-image: url('../img/background 1.png');
    background-repeat: no-repeat;
    width: 1366px;
    height: 768px;
    display: block;
    margin: 0 auto;
    padding-left: 155px;
    padding-top: 50px;
    /*padding-right: 152px;*/


}

.logo-contact {
}

.logo {
    display: inline-block;
}

.logo-img {
    margin-right: 15px;
    /*background-image: url("../img/logo.png");*/
    /*content: url("../img/logo.png");*/
    width: 46px;
    height: 44px;
    display: inline-block;
    /*float: left;*/
}

.logo-img :hover {
    content: url("../img/logo 2.png");
}


.milan-holidays {
    display: inline-block;
    /*width: 93px;*/
    text-align: left;
    font-weight: bold;

}

.link-logo {
    text-decoration: none;
    color: #FFFFFF;
}

.logo :hover .link-logo {
    color: #F26522;
}

.milan {
    font-family: Roboto, SansSerif;
    font-size: 29px;
    line-height: 0;
    margin-bottom: 20px;


}

.holidays {
    font-family: Roboto, SansSerif;
    line-height: 0;
    font-size: 18px;

}


.our-contact {
    display: inline-block;
    text-align: right;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    margin-left: 691px;
    /*line-height: 17px;*/

}

.mail {
    line-height: 21px;
}

.number {
    line-height: 21px;
}

.six-images{
    width: 1059px;
    /*display: block;*/
}

.shopping-img {
    background-image: url("../img/Layer 21.png");
    width: 307px;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: block;
    border: 2px solid;
    border-image-source: linear-gradient(0deg, black, white);
    border-image-slice: 1;
    float: left;

}

.sightseeing-img{
    background-image: url("../img/Layer 22.png");
    width: 307px;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: block;
    border: 2px solid;
    border-image-source: linear-gradient(0deg, black, white);
    border-image-slice: 1;
    float: left;
    /*margin-left: 69px;*/
}

.shopping-img {
    background-image: url("../img/Layer 21.png");
    width: 307px;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: block;
    border: 2px solid;
    border-image-source: linear-gradient(0deg, black, white);
    border-image-slice: 1;
    float: left;

}
.food-img{
    background-image: url("../img/Layer 23.png");
    width: 307px;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: block;
    border: 2px solid;
    border-image-source: linear-gradient(0deg, black, white);
    border-image-slice: 1;
    float: left;
}
.bars-img{
    background-image: url("../img/Layer 24.png");
    width: 307px;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: block;
    border: 2px solid;
    border-image-source: linear-gradient(0deg, black, white);
    border-image-slice: 1;
    float: left;
}
.art-img{
    background-image: url("../img/Layer 25.png");
    width: 307px;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: block;
    border: 2px solid;
    border-image-source: linear-gradient(0deg, black, white);
    border-image-slice: 1;
    float: left;
}
.walking-img{
    background-image: url("../img/Layer 26.png");
    width: 307px;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: block;
    border: 2px solid;
    border-image-source: linear-gradient(0deg, black, white);
    border-image-slice: 1;
    float: left;
}
.clear {
    clear: both;
}

/*.tours-name{*/
/*    display: inline-block;*/
/*}*/
.tours {
    color: antiquewhite;
    font-family: Roboto, SansSerif;
}




/*-----------------------*/



.hidden-block {
    width: 307px;
    height: 63px;
    background-color: #F26522;
    position: absolute;
    top: 200px;
    transition: 1s ease all;
}

.shopping-img:hover .hidden-block {
    top: 137px;

}
.walking-img:hover .hidden-block {
    top: 137px;

}
.sightseeing-img:hover .hidden-block {
    top: 137px;

}
.food-img:hover .hidden-block {
    top: 137px;

}
.bars-img:hover .hidden-block {
    top: 137px;

}
.art-img:hover .hidden-block {
    top: 137px;

}


.our-tours:hover .description {
    color: #F26522;
}
.clearfix{
    clear: both;
}
.description {
    color: white;
    /*margin-left: 76px;*/
    text-align: center;
    font-family: SansSerif;
    transition: 1s ease all;
    display: block;
    margin-top: 18.5px;
    text-decoration: none;
}

.our-tours {
    display: block;
    margin-top: 40px;
    width: 307px;
    height: 250px;
    float: left;
}
.our-tours:nth-child(2){
    margin-left: 69px;
}
.our-tours:nth-child(3){
    margin-left: 69px;
}
.our-tours:nth-child(5){
    margin-left: 69px;
}
.our-tours:nth-child(6){
    margin-left: 69px;
}
.name {
    /*text-align: left;*/
    /*line-height: 16px;*/
    font-size: 10px;
    line-height: 21px;
    margin-left: 21px;
    display: inline-block;
    color: white;
    font-family: SansSerif;


}

.price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
}

.details {
    /*text-align: right;*/
    display: inline-block;
    margin-left: 126px;
    font-family: SansSerif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: white;
}

.details:after {
    content: ">";
    margin-left: 15px;
}

.copyright{
    font-family: Roboto, SansSerif;
    font-size: 12px;
    /*text-align: center;*/
    color: white;
    display: block;
    margin-left: 375px;
    margin-top: 58px;
}

/*endp-----------------------------------*/